* text=auto

.gitattributes text eol=lf
.gitignore text eol=lf

*.md text eol=lf
*.php text eol=lf
*.ps1 text eol=crlf
*.js text eol=lf
*.css text eol=lf
*.html text eol=lf
*.ini text eol=lf
*.htaccess text eol=lf
*.json text eol=lf
*.sql text eol=lf
